@import "tailwindcss";

.container {
  @apply max-w-[1170px] mx-auto px-4 xl:px-0;
}

@theme {
  --font-poppins: "Poppins", sans-serif; 
  --font-inter : "Inter", sans-serif;
}

.main_menu li a {
    @apply text-[16px] font-poppins font-normal leading-6 text-[#000000] relative
 }
.category a {
    @apply text-[16px] font-poppins font-normal leading-6 text-[#000000]
 }
.main_menu li a::after {
    @apply absolute w-0 content-[''] h-px left-0 bottom-[-5px] bg-[rgba(0,0,0,0.25)] duration-300
 }
.main_menu li a:hover::after {
    @apply w-full 
 }

 @theme{
    --shadow-cart: 0px 0px 4px rgba(0,0,0,0.15);
 }
 .para-text{
    @apply text-[16px] text-[#000000] leading-6 font-poppins font-normal 
 }
 .button{
    @apply py-4 px-12 bg-[#DB4444] text-[16px] leading-6 font-poppins font-medium rounded-sm text-[#FAFAFA] cursor-pointer
 }

  .form-input{
    @apply text-[16px] w-full text-[#000000] font-poppins font-normal leading-6 outline-none pb-2 border-b  border-[rgba(219,68,68,0.68)] mb-10
 }
