@import "tailwindcss";

.container{
    @apply max-w-[1170px] mx-auto
}

@theme {
  --font-poppins: "Poppins", sans-serif; 
  --font-inter : "Inter", sans-serif;
}

.main_menu li a {
    @apply text-[16px] font-poppins font-normal leading-6 text-[#000000] relative
 }
.category a {
    @apply text-[16px] font-poppins font-normal leading-6 text-[#000000]
 }
.main_menu li a::after {
    @apply absolute w-0 content-[''] h-px left-0 bottom-[-5px] bg-[rgba(0,0,0,0.25)] duration-300
 }
.main_menu li a:hover::after {
    @apply w-full 
 }

 @theme{
    --shadow-cart: 0 1px 13px rgba(0,0,0,0.25);
 }